<div class="row">

  <div class="col-md-7">
    <nb-card accent="primary">
      <nb-card-header>
        Make new Order
      </nb-card-header>
      <nb-card-body>
        <form>
          <div class="form-group row">
            <div class="col-sm-12">
              <nb-select fullWidth placeholder="Select Product Here">
                 <nb-option>Product 1</nb-option>
                 <nb-option>Product 2</nb-option>
              </nb-select>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-6">
              <nb-select fullWidth placeholder="Dispensing Method">
                <nb-option>Strip</nb-option>
                <nb-option>Bottle</nb-option>
                <nb-option>Capsule/Tablet</nb-option>
              </nb-select>
            </div>
            <div class="col-sm-6">
              
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-5">
    <nb-card accent="info">
      <nb-card-header>
        Recent Orders
      </nb-card-header>
      <nb-card-body></nb-card-body>
    </nb-card>
  </div>
</div>